body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: #eef07f;
      color: #333;
    }

    header {
      background: white;
      padding: 20px 0;
      border-bottom: 2px solid #647118;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      margin-bottom: 30px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: auto;
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    header h1 {
      font-family: 'GFS Didot', serif;
      color: #647118;
      font-weight: 700;
      font-size: 32px;
      letter-spacing: 1px;
      margin: 0;
    }

    header nav.nav-links a {
      color: #647118;
      font-weight: 600;
      margin-left: 25px;
      text-decoration: none;
      font-size: 16px;
      transition: color 0.3s ease;
    }

    header nav.nav-links a:hover {
      color: #32490c;
    }


    
/* Footer zůstane dole */
footer {
  background: white;
  border-top: 2px solid #647118;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  text-align: center;
  padding: 15px 0;
  color: #647118;
  font-weight: 600;
  max-width: auto;
  margin: -25;
  /* už nepotřebujeme margin-top */
}

/* Odkazy v footeru */
footer a {
  color: #647118;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
  transition: color 0.3s ease;
}
